// Colors

$primary: #c09f55;
$secondary: #31513c;
$title_black: #333333;
$paragraph_black: #0a0909;

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.title {
  font: normal normal bold 52px/46px Plus Jakarta Sans;
  color: $title_black;
  &.gold {
    color: $primary;
  }
  &.white {
    color: white;
  }
}

.paragraph {
  font: normal normal normal 20px/34px Plus Jakarta Sans;
  letter-spacing: 0px;
  color: $paragraph_black;
  .scaled {
    font-size: 42px;
    font-weight: 500;
    line-height: 58px;

    letter-spacing: 0px;
    color: $paragraph_black;
  }
}

body {
  &.lock {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .title {
    font: normal normal bold 34.67px/30.67px Plus Jakarta Sans;
    color: $title_black;

    &.gold {
      color: $primary;
    }

    &.white {
      color: white;
    }
  }
  .paragraph {
    font: normal normal normal 13.33px/22.67px Plus Jakarta Sans;
    letter-spacing: 0px;
    color: $paragraph_black;

    .scaled {
      font-size: 28px;
      font-weight: 500;
      line-height: 38.67px;
      letter-spacing: 0px;
      color: $paragraph_black;
    }
  }
}

// From 992px only desktop
@media (min-width: 992px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

// Until 992px only mobile
@media (max-width: 992px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .title {
    font: normal normal bold 32px/40px Plus Jakarta Sans;
  }

  .paragraph {
    font: normal normal normal 16px/24px Plus Jakarta Sans;
    .scaled {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
    }
  }
}
